<section>
    <h2 class="text-main"> Forgot Password: </h2>
    @if (step == 1) {
        <form  class="bg-main-light rounded-4 p-2 my-2" [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()">
            <div class="my-2">
                <label for="email">email</label>
                <input formControlName="email" type="email" class="form-control">
                <button [disabled]="verifyEmail.invalid" class="btn-main my-2">Verify Email</button>
            </div>
        </form>
    }
@else if (step == 2) {
    <form  class="bg-main-light rounded-4 p-2 my-2" [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()">
        <div class="my-2">
            <label for="code">code</label>
            <input formControlName="code" type="text" class="form-control">
            <button [disabled]="verifyCode.invalid" class="btn-main my-2"> Verify Code </button>
        </div>
    </form>
}
 @else if (step == 3) {
    <form  class="bg-main-light rounded-4 p-2 my-2" [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()">
        <div class="my-2">
            <label for="email">email</label>
            <input readonly formControlName="email" type="email" class="form-control">
            <label for="password">password</label>
            <input formControlName="newPassword" type="password" class="form-control">
            <button [disabled]="resetPassword.invalid" class="btn-main my-2"> Reset Password </button>
        </div>
    </form>
 }
 

</section>