<section class="bg-main-light rounded-4 shadow p-4 my-2 w-75 mx-auto" >
    <h2 class="text-center text-main" style="font-family: Concert One, sans-serif;"
    > {{"brands.all brands" | translate}} </h2>
    <div class="row g-4 justify-content-center m-0">
      @for (item of brands; track item._id) {
        <div class="col-md-4 col-sm-6 col-lg-3">
          <div class="product h-100">
      <header role="button" [routerLink]="['/branddetails', item._id]">
          <img class="w-100" [src]="item.image" [alt]="item.name">
      </header>
  </div>
  </div>
      }

    </div>

</section>
