<section class="login p-2 my-2 bg-main-light rounded-4" id="login">
    <h1 class="h2 text-main">Login Now:</h1>
    <div class="container">
        <form [formGroup]="loginform" (ngSubmit)="loginFormSubmit()">
            <div class="my-2">
                <label for="email">email</label>
                <input [ngClass]="{
                    'is-valid': !loginform.get('email')?.errors && (loginform.get('email')?.touched || loginform.get('email')?.dirty),
                    'is-invalid': loginform.get('email')?.errors && (loginform.get('email')?.touched || loginform.get('email')?.dirty)
                }" formControlName="email" id="email" type="email" name="email" class="form-control">

                @if (loginform.get('email')?.errors && (loginform.get('email')?.touched ||
                loginform.get('email')?.dirty) )
                {
                <div class="alert alert-danger w-50">
                    @if (loginform.get('email')?.getError('required'))
                    {
                    <p class="m-0">- Email Required</p>
                    }
                    @else if (loginform.get('email')?.getError('email'))
                    {
                    <p class="m-0">- Email valid</p>
                    }
                </div>
                }
            </div>
            <div class="my-2">
                <label for="password">password</label>
                <input [ngClass]="{
                    'is-valid': !loginform.get('password')?.errors && (loginform.get('password')?.touched || loginform.get('password')?.dirty),
                    'is-invalid': loginform.get('password')?.errors && (loginform.get('password')?.touched || loginform.get('password')?.dirty)
                }" formControlName="password" id="password" type="password" name="password" class="form-control">

                @if (loginform.get('password')?.errors && (loginform.get('password')?.touched ||
                loginform.get('password')?.dirty) )
                {
                <div class="alert alert-danger w-50">
                    @if (loginform.get('password')?.getError('required'))
                    {
                    <p class="m-0">- password Required</p>
                    }
                    @else if (loginform.get('password')?.getError('pattern'))
                    {
                    <p class="m-0">- must be at least 6 chars</p>
                    }
                </div>
                }
            </div>

            <div class="d-flex align-items-center justify-content-end">
                <a routerLink="/forgot" class="me-3"> Forgot Password? </a>

                <button [disabled]="loginform.invalid || isLoading" class="btn-main">Login
                    @if (isLoading)
                    {
                    <span>
                        <i class="fas fa-spin fa-spinner"></i>
                    </span>
                    }
                </button>
            </div>



            @if (msgError)
            {
            <p class="alert alert-danger w-50"> {{msgError}} </p>
            }

            @if (msgSuccess)
            {
            <p class="alert alert-success w-50">success Login , Welcome</p>
            }

        </form>
    </div>
</section>